* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'NeoSansPro', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  outline: 0;
  color: #000;
  cursor: pointer;
  transition: 0.4s ease;
}

a div, a p {
  transition: 0.4s ease;
}

ul, ol {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  font-family: 'NeoSansPro', sans-serif;
  border: 0;
  border-radius: 0;
  outline: 0;
  transition: border 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  transition: fill 0.4s ease, stroke 0.4s ease;
}

.main {
  max-width: 68.75rem;
  margin: 0 auto;
}

.page {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    transform: translate3d(0, -50%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("/fonts/NeoSansPro-Regular.woff") format("woff"), url("/fonts/NeoSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("/fonts/NeoSansPro-Bold.woff") format("woff"), url("/fonts/NeoSansPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("/fonts/NeoSansPro-Ultra.woff") format("woff"), url("/fonts/NeoSansPro-Ultra.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("/fonts/NeoSansPro-Italic.woff") format("woff"), url("/assets/fonts/NeoSansPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NeoSansPro';
  src: url("/fonts/NeoSansPro-BoldItalic.woff") format("woff"), url("/fonts/NeoSansPro-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-x {
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  height: 4px;
  border-radius: 0;
  overflow: hidden;
  bottom: 0;
  position: absolute;
}

.ps__rail-y {
  transition: background-color 0.2s linear, opacity 0.2s linear;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  width: 2px;
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  right: 0;
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: #dc2f7f;
}

.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}

.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  opacity: 0.8;
}

.ps__thumb-x {
  background-color: #dc2f7f;
  transition: background-color 0.2s linear, height 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
  height: 4px;
  bottom: 0;
  position: absolute;
}

.ps__thumb-x:hover,
.ps__thumb-x:active {
  background-color: #8e2174;
}

.ps__thumb-y {
  background-color: #8e2174;
  transition: background-color 0.2s linear, width 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
  width: 2px;
  right: 0;
  position: absolute;
  cursor: pointer;
}

.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  opacity: 0.8;
  height: 11px;
}

.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  opacity: 0.8;
  width: 2px;
}

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform: translate3d(0, 0, 0);
}

.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-container-android .swiper-slide {
  transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-autoheight {
  height: auto;
}

.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -ms-flex-align: start;
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -ms-transform: scale(0);
  transform: scale(0);
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -ms-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-scrollbar {
  border-radius: 0.625rem;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.625rem;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-lazy-preloader-white::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}

.swiper-button-prev {
  left: 1.125rem;
}

.swiper-button-next {
  right: 1.125rem;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: calc(50% - 2rem);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s;
  background-color: #f06842;
  z-index: 2;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  display: block;
  stroke: #fff;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #fb5021;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  width: 100%;
  height: 0.5625rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  transition: 300ms;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-bullets {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.swiper-pagination-bullet {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.75rem;
  background-color: #fff;
  transition: 0.4s;
  cursor: pointer;
  outline: none;
}

.swiper-pagination-bullet::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}

.swiper-pagination-bullet:hover {
  background-color: transparent;
}

.swiper-pagination-bullet:hover::after {
  border-color: #f4a81e;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  border-color: #f4a81e;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 0.625rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151616;
}

.h2 {
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

.h3 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151616;
}

.h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

.h5 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  color: black;
}

.text-base {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151616;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  color: #151616;
}

.core-btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.125rem;
  padding: 0 2.5rem;
  background-color: #dc2f7f;
  transition: background 0.4s ease;
  cursor: pointer;
}

.core-btn__text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
}

.core-btn:hover {
  background-color: #8e2174;
}

.core-btn:disabled,
.core-btn--disabled {
  background-color: #999;
  cursor: default;
}

.core-btn:disabled:hover,
.core-btn--disabled:hover {
  background-color: #999;
}

.core-head {
  padding: 0 3.125rem;
}

.core-head__s-title,
.core-head__title,
.core-head__text {
  width: 100%;
  text-align: center;
}

.core-head__s-title {
  color: #036;
}

.core-head__title {
  position: relative;
  margin-bottom: 0.625rem;
  color: #f4a81e;
}

.core-head__title::before {
  content: '';
  width: 40%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #036;
}

.core-head__text {
  color: #036;
}

.core-head--white .core-head__s-title,
.core-head--white .core-head__text {
  color: #fff;
}

.core-head--white .core-head__title::before {
  background-color: #fff;
}

.core-input {
  width: 100%;
  height: 3.125rem;
  padding: 0 1.25rem;
  border: 1px solid #dc2f7f;
  color: #151616;
  font-size: 1rem;
}

.core-input--fail {
  border-color: red;
}

.core-input::-webkit-input-placeholder {
  color: #999;
}

.core-input:-ms-input-placeholder {
  color: #999;
}

.core-input::placeholder {
  color: #999;
}

.core-input:hover,
.core-input:active,
.core-input:focus {
  border-color: #8e2174;
}

.dev-contacts {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}

.dev-contacts__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.dev-contacts__col {
  display: -ms-flexbox;
  display: flex;
  width: 31%;
  margin-right: 3.5%;
}

.dev-contacts__col:nth-of-type(3n) {
  margin-right: 0;
}

.dev-contacts__icon {
  min-width: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: #036;
  margin-right: 1.25rem;
}

.dev-contacts__description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dev-contacts__title {
  color: #036;
}

.dev-contacts__text {
  color: #69c;
}

.dev-contacts__text a:hover {
  text-decoration: underline;
}

.dev-contacts a.dev-contacts__text:hover {
  text-decoration: underline;
}

.dev-detail {
  padding-top: 6.25rem;
  padding-bottom: 2.625rem;
}

.dev-footer {
  padding: 1.875rem 0;
  background-color: #036;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.dev-footer__logo {
  display: block;
  width: 9.375rem;
  height: 2.5rem;
  margin-bottom: 1.5rem;
}

.dev-footer__logo svg {
  fill: #fff;
}

.dev-footer__logo svg .logo-hq {
  fill: #f4a81e;
}

.dev-footer__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.dev-footer__social {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: 0.75rem;
}

.dev-footer__social:last-of-type {
  margin-right: 0;
}

.dev-footer__copy {
  width: 100%;
  text-align: center;
  color: #fff;
}

.dev-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(53, 53, 53, 0.13);
  transition: 0.4s ease;
}

.dev-header__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
}

.dev-header__logo {
  display: block;
  width: 9.375rem;
  height: 2.5rem;
}

.dev-header__logo svg {
  fill: #69c;
}

.dev-header__logo svg .logo-ltd {
  fill: #151616;
}

.dev-header__logo svg .logo-hq {
  fill: #036;
}

.dev-header__right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.dev-header__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.dev-header__menu-item {
  margin-right: 1.5rem;
}

.dev-header__menu-item:last-of-type {
  margin-right: 0;
}

.dev-header__menu-link {
  color: #2e517b;
}

.dev-header__menu-link:hover {
  color: #f4a81e;
}

.dev-header__login-wrap {
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

.dev-header__login,
.dev-header__sign-up {
  width: 5rem;
  height: 2rem;
  border: 2px solid #f4a81e;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dev-header__login {
  color: #151616;
  margin-right: 1.125rem;
}

.dev-header__login:hover {
  background-color: #f4a81e;
  color: #151616;
}

.dev-header__sign-up {
  background-color: #f4a81e;
  color: #151616;
}

.dev-header__sign-up:hover {
  background-color: transparent;
  color: #fff;
}

.dev-header__btn-menu {
  position: relative;
  width: 1.875rem;
  height: 1.4375rem;
  margin-left: 1.25rem;
  display: block;
}

.dev-header__btn-menu span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #f4a81e;
  transition: 0.4s ease;
}

.dev-header__btn-menu span:nth-of-type(1) {
  top: 0;
}

.dev-header__btn-menu span:nth-of-type(2) {
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
}

.dev-header__btn-menu span:nth-of-type(3) {
  bottom: 0;
}

.dev-header__btn-menu--open span:nth-of-type(1) {
  top: 50%;
  -ms-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}

.dev-header__btn-menu--open span:nth-of-type(2) {
  opacity: 0;
}

.dev-header__btn-menu--open span:nth-of-type(3) {
  bottom: 50%;
  -ms-transform: rotate(45deg) translate(0, 50%);
  transform: rotate(45deg) translate(0, 50%);
}

.dev-header--open .dev-header__menu {
  display: -ms-flexbox;
  display: flex;
}

.dev-header--transparent {
  background-color: transparent;
  box-shadow: 0 0 0 0 rgba(53, 53, 53, 0);
}

.dev-header--transparent .dev-header__logo svg {
  fill: #fff;
}

.dev-header--transparent .dev-header__logo svg .logo-hq {
  fill: #f4a81e;
}

.dev-header--transparent .dev-header__logo svg .logo-ltd {
  fill: #fff;
}

.dev-header--transparent .dev-header__menu-link {
  color: #fff;
}

.dev-header--transparent .dev-header__menu-link:hover {
  color: #f4a81e;
}

.dev-header--transparent .dev-header__login {
  color: #fff;
}

.dev-index-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 36.625rem;
  background-color: #999;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dev-index-banner__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  padding-top: 7.5rem;
  padding-bottom: 3.75rem;
}

.dev-index-banner__items {
  width: 20rem;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dev-index-banner__item {
  width: 100%;
  margin-bottom: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.dev-index-banner__item:nth-of-type(1),
.dev-index-banner__item:nth-of-type(4) {
  margin-left: 2rem;
}

.dev-index-banner__item:last-of-type {
  margin-bottom: 0;
}

.dev-index-banner__item-icon {
  min-width: 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.75rem;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.6;
}

.dev-index-banner__item-title {
  margin-bottom: 0.25rem;
  color: #f4a81e;
}

.dev-index-banner__item-text {
  color: #fff;
}

.dev-index-banner__about {
  width: 30rem;
}

.dev-index-banner__about-title {
  color: #f4a81e;
}

.dev-index-banner__about-title,
.dev-index-banner__about-quote,
.dev-index-banner__about-text {
  width: 100%;
  text-align: right;
}

.dev-index-banner__about-quote,
.dev-index-banner__about-text {
  max-width: 90%;
  margin-left: auto;
  color: #fff;
}

.dev-index-banner__about-quote {
  margin-bottom: 0.5rem;
}

.dev-index-clients {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
  background-color: #036;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-index-clients__content {
  padding-top: 3.125rem;
}

.dev-index-clients__slider {
  margin-bottom: 1.25rem;
}

.dev-index-clients__slide {
  width: 16.67%;
  height: 6.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.dev-index-clients__pag {
  margin-top: 3.125rem;
}

.dev-index-products {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}

.dev-index-products__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1.25rem;
}

.dev-index-products__head {
  margin-bottom: 2.75rem;
}

.dev-index-products__item {
  width: 47%;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6%;
  margin-bottom: 2rem;
}

.dev-index-products__item:nth-of-type(2n) {
  margin-right: 0;
}

.dev-index-products__icon {
  position: relative;
  width: 9.5rem;
  min-width: 9.5rem;
  height: 9.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.dev-index-products__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.dev-index-products__description {
  width: calc(100% - 5.5rem);
  padding-left: 1.5rem;
}

.dev-index-products__title {
  padding-bottom: 0.125rem;
  border-bottom: 2px solid #f4a81e;
  margin-bottom: 0.375rem;
  color: #036;
}

.dev-index-products__text-wrap {
  height: 6rem;
  overflow: hidden;
}

.dev-index-products__text {
  color: #036;
}

.dev-index-products__more-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.dev-index-products__more-line {
  max-width: 80%;
  width: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 2px;
  background-color: #69c;
}

.dev-index-products__more {
  margin-left: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #036;
}

.dev-index-products__more-icon {
  min-width: 1.125rem;
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.25rem;
  border: 2px solid #036;
  border-radius: 50%;
}

.dev-index-reviews {
  padding: 3.25rem 0 3.75rem;
  background-color: #151616;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dev-index-reviews__head {
  margin-bottom: 3.125rem;
}

.dev-index-reviews__content {
  padding: 0 6.25rem;
}

.dev-index-reviews__slider {
  margin-bottom: 2.875rem;
}

.dev-index-reviews__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 22.5rem;
}

.dev-index-reviews__img-wrap {
  position: relative;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  background-color: #fff;
  z-index: 1;
}

.dev-index-reviews__img {
  width: 100%;
  height: 100%;
  background-color: #151616;
}

.dev-index-reviews__description {
  width: calc(100% - 18.75rem);
  padding: 1.5rem 2.625rem 1.5rem 4.125rem;
  height: 22.5rem;
  margin-left: -1.25rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: rgba(102, 153, 204, 0.7);
}

.dev-index-reviews__cap {
  width: 94%;
  padding-left: 1.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.625rem;
  border-bottom: 2px solid #f4a81e;
}

.dev-index-reviews__text-wrap {
  width: 96%;
  height: 8.375rem;
  overflow: hidden;
}

.dev-index-reviews__text {
  text-align: right;
  color: #fff;
}

.dev-index-reviews__name,
.dev-index-reviews__position,
.dev-index-reviews__address {
  width: 100%;
  text-align: right;
  color: #151616;
}

.dev-index-reviews__address-wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0;
  margin-top: 0.625rem;
  height: 3.125rem;
  width: 100%;
  overflow: hidden;
}

.dev-index-reviews__address-wrap::after,
.dev-index-reviews__address-wrap::before {
  content: '';
  position: absolute;
  right: 0;
  width: 60%;
  height: 2px;
  background-color: #151616;
}

.dev-index-reviews__address-wrap::after {
  top: 0;
}

.dev-index-reviews__address-wrap::before {
  bottom: 0;
}

.dev-index-reviews__social-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 3.5rem;
  width: 100%;
}

.dev-index-reviews__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid #151616;
  margin-right: 0.75rem;
}

.dev-index-reviews__social:last-of-type {
  margin-right: 0;
}

.dev-index-services {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
  background-color: rgba(18, 164, 189, 0.07);
}

.dev-index-services__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 1.25rem;
}

.dev-index-services__item {
  display: -ms-flexbox;
  display: flex;
  width: 47%;
  margin-right: 6%;
  margin-bottom: 2.5rem;
}

.dev-index-services__item:nth-of-type(2n) {
  margin-right: 0;
}

.dev-index-services__icon {
  position: relative;
  width: 4.75rem;
  min-width: 4.75rem;
  height: 4.75rem;
}

.dev-index-services__icon::before {
  content: '';
  position: absolute;
  right: 0;
  top: 1.625rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background-color: #f4a81e;
}

.dev-index-services__description {
  width: calc(100% - 2.75rem);
  padding-left: 1.5rem;
}

.dev-index-services__title {
  padding-bottom: 0.125rem;
  border-bottom: 2px solid #69c;
  margin-bottom: 0.375rem;
  color: #69c;
}

.dev-news {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}

.dev-news__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem;
}

.dev-news__items {
  width: 100%;
  margin-bottom: 1.25rem;
}

.dev-news__item {
  width: 32%;
  margin-right: 2%;
}

.dev-news__item:nth-of-type(3n) {
  margin-right: 0;
}

.dev-news__img {
  width: 100%;
  height: 15rem;
  margin-bottom: 0.875rem;
  background-color: #036;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-news__date,
.dev-news__text {
  color: #036;
}

.dev-news__date {
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dev-news__title {
  height: 3.5rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  color: #69c;
}

.dev-news__text {
  height: 3.625rem;
  overflow: hidden;
}

.dev-news__link {
  display: inline-block;
  margin-top: 0.75rem;
  color: #f4a81e;
}

.dev-news__pag {
  margin-top: 1.25rem;
}

.dev-news__pag .swiper-pagination-bullet {
  background-color: #036;
}

.dev-news__pag .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
}

.dev-news__pag .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  border-color: #036;
}

.dev-news__btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.25rem;
  color: #f4a81e;
}

.dev-news__btn-icon {
  display: block;
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #f4a81e;
  border-radius: 50%;
  margin-left: 0.625rem;
}

.dev-news--all .dev-news__item {
  width: 100%;
  margin-right: 0;
  margin-bottom: 1.25rem;
  display: -ms-flexbox;
  display: flex;
}

.dev-news--all .dev-news__img {
  width: 15rem;
}

.dev-news--all .dev-news__description {
  height: 100%;
  width: calc(100% - 15rem);
  padding: 0.875rem 1.5rem;
}

.dev-news--all .dev-news__title {
  height: 1.75rem;
  margin-bottom: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dev-news--all .dev-news__text {
  height: auto;
  max-height: 5.9375rem;
  margin-bottom: 0.625rem;
}

.dev-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: none;
  min-height: 100vh;
  padding: 3rem 0;
  background-color: rgba(0, 0, 0, 0.65);
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 50;
  opacity: 0;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  -webkit-overflow-scrolling: touch;
}

.dev-popup--open {
  display: block;
  opacity: 1;
}

.dev-popup__content-wrap {
  display: none;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
}

.dev-popup__content-wrap--open {
  display: -ms-flexbox;
  display: flex;
}

.dev-popup__content {
  position: relative;
}

.dev-popup__close {
  position: absolute;
  top: 2.125rem;
  right: 2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 2.125rem;
  height: 1.875rem;
  transition: border 0.4s ease;
  z-index: 6;
}

.dev-popup__close::after,
.dev-popup__close::before {
  content: '';
  display: block;
  width: 1.5rem;
  height: 2px;
  background-color: #dc2f7f;
  -ms-transform-origin: 133% 50%;
  transform-origin: 133% 50%;
  transition: background 0.4s ease;
}

.dev-popup__close::before {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dev-popup__close::after {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dev-popup__close:hover {
  border-color: #8e2174;
}

.dev-popup__close:hover::after,
.dev-popup__close:hover::before {
  background-color: #8e2174;
}

@media (min-width: 768px) {
  .dev-news__items .swiper-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .dev-news__pag {
    display: none;
  }
}

@media (min-width: 1024px) {
  .dev-header__btn-menu {
    display: none;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  .text {
    font-size: 0.9375rem;
  }

  .core-btn {
    height: 3.125rem;
  }

  .core-btn__text {
    font-size: 0.875rem;
  }

  .dev-detail {
    padding-top: 5.75rem;
    padding-bottom: 2rem;
  }

  .dev-header__content {
    height: 4.5rem;
  }

  .dev-header__logo {
    width: 8.4375rem;
    height: 2.25rem;
  }

  .dev-header__menu {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 4.5rem);
    padding: 3.375rem 0;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-name: fadeInTop;
    overflow: auto;
    background-color: #fff;
    z-index: -1;
  }

  .dev-header__menu-item {
    margin-right: 0;
    margin-bottom: 1.375rem;
  }

  .dev-header__login-wrap {
    margin-left: 0;
  }

  .dev-index-banner__content {
    -ms-flex-align: center;
    align-items: center;
    padding-top: 6.25rem;
    padding-bottom: 2.5rem;
  }

  .dev-index-banner__items {
    display: none;
  }

  .dev-index-banner__about {
    width: 80%;
    margin: 0 auto;
  }

  .dev-index-banner__about-title {
    margin-bottom: 0.5rem;
  }

  .dev-index-banner__about-title,
  .dev-index-banner__about-quote,
  .dev-index-banner__about-text {
    text-align: center;
  }

  .dev-index-banner__about-quote,
  .dev-index-banner__about-text {
    margin: 0 auto;
  }

  .dev-index-banner__about-quote {
    margin-bottom: 1.375rem;
  }

  .dev-index-banner__about-text {
    max-width: 80%;
  }

  .dev-index-products__item {
    width: 100%;
    margin-right: 0;
  }

  .dev-index-reviews__content {
    padding: 0;
  }

  .dev-popup__close {
    top: 1.125rem;
    right: 1.125rem;
  }
}

@media (max-width: 767px) {
  .main {
    width: 88%;
    max-width: 26.25rem;
  }

  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    background-color: #dbdbdb;
  }

  .h1 {
    font-size: 1.9375rem;
    font-weight: 600;
    line-height: 1.2;
  }

  .h2 {
    font-size: 1.625rem;
  }

  .h3 {
    font-size: 1.25rem;
  }

  .h4 {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  .core-btn {
    height: 3.4375rem;
    padding: 0 1.125rem;
  }

  .core-btn__text {
    font-size: 1rem;
  }

  .core-head {
    padding: 0 0.75rem;
  }

  .core-head__title::before {
    width: 60%;
  }

  .core-input--fail {
    border-width: 2px;
  }

  .dev-contacts {
    padding-top: 2rem;
    padding-bottom: 1.625rem;
  }

  .dev-contacts__col {
    width: 100%;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0;
    margin-bottom: 0.75rem;
  }

  .dev-contacts__icon {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .dev-contacts__title {
    width: 100%;
    text-align: center;
  }

  .dev-contacts__text {
    text-align: center;
  }

  .dev-header__menu-link {
    font-size: 1.375rem;
  }

  .dev-header__login {
    margin-right: 0;
  }

  .dev-header__sign-up {
    display: none;
  }

  .dev-index-banner {
    min-height: 38.75rem;
  }

  .dev-index-banner__items {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .dev-index-banner__item {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .dev-index-banner__item:nth-of-type(1),
  .dev-index-banner__item:nth-of-type(4) {
    margin-left: 0;
  }

  .dev-index-banner__item-icon {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }

  .dev-index-banner__item-title {
    width: 80%;
    margin: 0 auto 0;
    text-align: center;
  }

  .dev-index-banner__item-text {
    display: none;
  }

  .dev-index-banner__about {
    width: 100%;
  }

  .dev-index-clients {
    padding-top: 2rem;
  }

  .dev-index-products {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }

  .dev-index-products__head {
    margin-bottom: 2rem;
  }

  .dev-index-products__item {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  .dev-index-products__icon {
    width: 8.5rem;
    min-width: 8.5rem;
    height: 8.5rem;
    margin-bottom: 1rem;
  }

  .dev-index-products__description {
    width: 100%;
    padding-left: 0;
  }

  .dev-index-reviews {
    padding: 2.625rem 0 3rem;
  }

  .dev-index-reviews__head {
    margin-bottom: 2rem;
  }

  .dev-index-reviews__slider {
    margin-bottom: 2rem;
  }

  .dev-index-reviews__slide {
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }

  .dev-index-reviews__img-wrap {
    width: 13.875rem;
    height: 13.875rem;
    padding: 0.75rem;
  }

  .dev-index-reviews__description {
    width: 100%;
    padding: 2rem 1.25rem 2rem;
    margin-top: -1rem;
    height: 21.25rem;
    margin-left: 0;
    -ms-flex-align: center;
    align-items: center;
  }

  .dev-index-reviews__cap {
    width: 100%;
    padding: 0 0.875rem;
  }

  .dev-index-reviews__text {
    text-align: center;
  }

  .dev-index-reviews__name,
  .dev-index-reviews__position,
  .dev-index-reviews__address {
    text-align: center;
  }

  .dev-index-reviews__address-wrap::after,
  .dev-index-reviews__address-wrap::before {
    right: 20%;
  }

  .dev-index-reviews__social-wrap {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .dev-index-services {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }

  .dev-index-services__item {
    width: 100%;
    margin-right: 0;
  }

  .dev-news {
    padding-top: 2rem;
    padding-bottom: 1.625rem;
  }

  .dev-news__item {
    width: 100%;
    margin-right: 0;
  }

  .dev-popup {
    padding: 3rem 0;
    background-color: rgba(0, 0, 0, 0.95);
  }

  .dev-popup__close {
    top: -2.5rem;
    right: -0.375rem;
  }

  .dev-popup__close::after,
  .dev-popup__close::before {
    background-color: #fff;
  }

  .dev-popup__close:hover {
    border-color: #dc2f7f;
  }

  .dev-popup__close:hover::after,
  .dev-popup__close:hover::before {
    background-color: #dc2f7f;
  }
}

@media (max-width: 357px) {
  html {
    font-size: 13.65px;
  }
}

@media (min-width: 1024px) and (max-width: 1273px) {
  html {
    font-size: 14px;
  }

  .text-base {
    font-size: 1.04rem;
  }

  .text {
    font-size: 1.04rem;
  }

  .core-btn__text {
    font-size: 1.04rem;
  }

  .core-input {
    font-size: 1.04rem;
  }
}

@media (min-width: 358px) and (max-width: 371px) {
  html {
    font-size: 15.35px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    max-width: 44.25rem;
  }

  .h1 {
    font-size: 3rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .h4 {
    font-size: 1.125rem;
  }

  .core-head {
    padding: 0 2rem;
  }

  .dev-index-reviews__img-wrap {
    width: 16.25rem;
    height: 16.25rem;
  }

  .dev-index-reviews__description {
    width: calc(100% - 15rem);
    padding: 1rem 2rem 1rem 3.5rem;
    height: 21.25rem;
  }

  .dev-index-services__item {
    width: 48%;
    margin-right: 4%;
  }

  .dev-news__item {
    width: 47%;
    margin-right: 6%;
  }

  .dev-news__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .dev-news__item:nth-of-type(3n) {
    display: none;
  }

  .dev-news__img {
    height: 13.625rem;
  }

  .dev-news--all .dev-news__img {
    width: 13.625rem;
  }

  .dev-news--all .dev-news__description {
    width: 13.625rem;
    width: calc(100% - 13.625rem);
    padding: 0.875rem 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dev-header__menu-link {
    font-size: 1.5rem;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}